<template lang="pug">
  section.app-main
  transition(name='fade-transform', mode='out-in')
    // <keep-alive :include="cachedViews">
    router-view(name='main')
      // </keep-alive>
</template>


<script>
export default {
  name: 'AppMain',
  mounted(){
    console.log(this.$route.fullPath)
  },
  computed: {
    cachedViews() {
      return this.$store.state.tagsView.cachedViews
    },
    key() {
      return this.$route.fullPath
    }
  }
}
</script>

<style scoped>
.app-main {
  /*84 = navbar + tags-view = 50 +34 */
  min-height: calc(100vh - 84px);
  width: 100%;
  position: relative;
  overflow: hidden;
}
</style>

