<template lang="pug">
    .footer
        .white 개인정보취급방침
</template>

<style scoped>
.footer{
    height: 200px;
    /* width:1980px; */
    background-color: rgb(44, 44, 44);
    position: relative;
    /* position: relative; */
    bottom: 0px;
}
</style>
