<template lang="pug">
  .header
    div(style="position:relative").test
      .logo(style="position:absolute;top:20px" @click="$router.push('/')")
        span.font-xl Jary's Blog
      .menu(style="position:absolute;top:0px;left:200px")
        el-menu.el-menu-demo(:default-active='activeIndex', mode='horizontal', @select='handleSelect' style="border:none")
          el-submenu(index='1')
            template(slot='title') IT
            el-menu-item(index='1-1' @click="$router.push('/it')") 정보
            el-menu-item(index='1-2' @click="$router.push('/software')") 소프트웨어
          el-submenu(index='2')
            template(slot='title') 프로그래밍
            el-menu-item(index='2-1'  @click="$router.push('/algorithm')") 알고리즘
            el-menu-item(index='2-2'  @click="$router.push('/c_c++')") C/C++
            el-menu-item(index='2-2'  @click="$router.push('/nodejs')") NodeJS
            el-menu-item(index='2-2'  @click="$router.push('/database')") 데이터베이스
            //- el-submenu(index='2-4')
            //-   template(slot='title') 일본어
            //-   el-menu-item(index='2-4-1') item one
            //-   el-menu-item(index='2-4-2') item two
            //-   el-menu-item(index='2-4-3') item three
          el-menu-item(index='3' @click="$router.push('/japan')") 일본어
          //- el-menu-item(index='4')
            a(href='https://www.ele.me', target='_blank') Orders
</template>

<script>
export default {
  name: "Header",
  data(){
    return{
      activeIndex:'',
      handleSelect:''
    }
  }
};
</script>

<style scoped>
.header {
  background-color: white;
  border-bottom: 1px solid #ebebeb;
  height: 70px;
}

.test{
  max-width:1000px;
  margin:0 auto;
}
.logo {
  display: inline-block;
  /* padding-left: 450px; */
  padding-right: 100px;
  padding-bottom:50px;
  width: 150px;
}
.logo span{
  cursor: pointer;
}
.menu {
  display: inline-block;
  padding-top: 10px;
  width: 300px;
}
</style>
