<template lang="pug">
  #mySidenav.sidenav
    a.closebtn(href='javascript:void(0)', @click='closeNav()') &times;
    a(href='#').title IT
    a(href='#' @click="$router.push('/it')").sub 정보
    a(href='#' @click="$router.push('/software')").sub 소프트웨어
    a(href='#').title 프로그래밍
    a(href='#' @click="$router.push('/algorithm')").sub 알고리즘
    a(href='#' @click="$router.push('/c_c++')").sub C/C++
    a(href='#' @click="$router.push('/nodejs')").sub NodeJS
    a(href='#' @click="$router.push('/database')").sub 데이터베이스
    a(href='#').title 일본어
</template>

<script>
export default {
  mounted(){
    this.$bus.$on('openNav',this.openNav)
    this.$bus.$on('closeNav',this.closeNav)
  },
  methods:{
    openNav(){
      document.getElementById("mySidenav").style.width = "250px";
    },
    closeNav(){
      document.getElementById("mySidenav").style.width = "0";
    }
  }
}
</script>


<style scoped>
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 40; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  white-space: nowrap;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.title{
  margin-top:5px;
}

.sub{
  margin-left:20px;
  font-size: 15px !important;
}
</style>
