<template lang="pug">
  .header
     .logo
        span.font-lg(@click="$router.push('/')") Jary's Blog
     .menu
        i.fas.fa-bars.fa-lg(@click="$bus.$emit('openNav')")
     .search
        i.fas.fa-search.fa-lg

          //- el-menu-item(index='4')
            a(href='https://www.ele.me', target='_blank') Orders
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      activeIndex: "",
      handleSelect: ""
    };
  }
};
</script>

<style scoped>
.header {
  background-color: white;
  border-bottom: 1px solid #ebebeb;
  height: 35px;
  position: relative;
  padding-top: 10px;
  /* width: 800px; */
}

.logo {
  position: absolute;
  text-align: center;
   width: 100%;
}

.search {
  position: absolute;
  right: 10px;
  top: 15px;
}

.menu {
  position: absolute;
  top: 15px;
  left: 10px;
}

.logo,
.menu,
.search {
  display: inline-block;
}
.logo span, i {
  cursor: pointer;
}

</style>
