<template lang="pug">
    .carousel
        el-carousel(:interval='5000', arrow='always')
          el-carousel-item(v-for='(item,index) in post', :key='index')
            img.background(:src="item.thumbnail2" v-if="$store.state.size >= 3")
            img.background(:src="item.thumbnail" v-if="$store.state.size < 3")
            .content
              .box
                .category {{item.category}}
                .title {{item.title}}
                div(style="margin-top:20px")
                  span.detail(@click="$router.push('/post/'+item.id)") 더보기
</template>

<script>
import { fetchPostAllListLatest } from "@/api/post";
export default {
    data(){
        return{
            post:[]
        }
    },
    async mounted() {
        this.post = await fetchPostAllListLatest()
        console.log(this.post)
    },
}
</script>



<style scoped>
.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}

.category{
  padding:10px;
}
.title{
  padding-bottom: 10px;
}
.detail{
  border:1px solid white;
  padding:10px 30px;
  cursor: pointer;
}
.detail:hover{
  background: white;
  color:black;
}

.carousel {
  /* height: 200px; */
  /* background:#a8e6cf; */
  /* width:1980px; */
  position: relative;
}

.box{
  background:rgba(0, 0, 0, 0.479);
  width:2560px;
  height: 400px;
  padding-top:150px;
  color:white;
}
.content {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content .title{
  font-size:40px;
}
img{
    width:100%
    /* height:500px; */
}


/* 모바일 */
.xs .category{
  font-size: 15px;
}
.xs .title{
  font-size: 30px;
}

.xs .detail{
  width:30px;
  padding:8px 17px;
  font-size: 15px;
}
</style>
