<template lang="pug">
  #app(:class = 'classObject')
    router-view
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      size: {}
    };
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  computed: {
    classObject: function() {
      return this.size;
    }
  },
  methods: {
    handleResize() {
      let width = window.innerWidth;
      // let height = window.innerHeight;
      // let size;
      if (width >= 1920) {
        this.size = { xl: true };
        this.$store.state.size = 5
      } else if (width >= 1200) {
        this.size = { lg: true };
        this.$store.state.size = 4
      } else if (width >= 992) {
        this.size = { md: true };
        this.$store.state.size = 3
      } else if (width >= 768) {
        this.size = { sm: true };
        this.$store.state.size = 2
      } else {
        this.size = { xs: true };
        this.$store.state.size = 1
      }
      // console.log(this.size)
      // this.$store.state.size = this.size;
      console.log(this.$store.state.size)
    }
  }
};
</script>

<style>
@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "BMJUA", sans-serif;
  /* color:#909090 !important */
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}

.nbg * {
  font-family: "NanumBarunGothic", sans-serif;
}

body {
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

.el-card {
  background-color: rgb(253, 253, 253);
  border: 1px solid rgb(219, 219, 219);
}

.el-card.border {
  border-top: 3px solid rgb(177, 36, 36);
  padding: 15px 5px;
}

/** 이하는 공통 **/
.normal {
  font-style: normal;
}

.w250 {
  font-weight: 250;
}

.w300 {
  font-weight: 300;
}

.w350 {
  font-weight: 350;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.w900 {
  font-weight: 900;
}

.font-2xs {
  font-size: 10px;
}

.font-xs {
  font-size: 12px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 18px;
}

.font-lg {
  font-size: 20px;
}

.font-xl {
  font-size: 25px;
}
.font-2xl {
  font-size: 35px;
}

hr.s1 {
  border: 1px solid #ebebeb;
  border-top: 0px;
}
</style>
