<template lang="pug">
    .another-item(@click="$router.push('/post/'+data.id)").nbg
        img(:src="data.thumbnail" style="width:150px")
        .box
            .content
                span {{data.title}}
</template>

<script>
export default {
    props:['data']
}
</script>


<style scoped>
.another-item{
    position:relative;
    width:150px;
    display: inline-block;
    margin:15px;
    cursor: pointer;
}

.box {
  background: rgba(0, 0, 0, 0.350);
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
}
.content {
  position: relative;
  display: inline-block;
  top: 20%;
  width:110px;
  /* text-align: center; */
  font-size:12px;
  /* padding-left:20px; */
  /* left:50%; */
  color:white;
}
</style>

