<template lang="pug">
    .another
        .title 같은 카테고리 다른 글
        div(align="center")
            another-item(v-for="(another,index) in another_list" :data="another" :key="index")
</template>

<script>
import { fetchPostAnother } from "@/api/post";
import AnotherItem from "./AnotherItem";
export default {
  props: ["post_id"],
  data() {
    return {
      another_list: []
    };
  },
  components: {
    AnotherItem
  },
  async created() {
    this.update()
  },
  methods: {
    update: async function() {
      this.another_list = await fetchPostAnother(this.post_id);
    }
  },
  watch: {
    post_id: function() {
      this.update();
    }
  }
};
</script>



<style scoped>
.title{
    color:rgb(104, 104, 104)
}
</style>