<template lang="pug">
    el-breadcrumb.breadcrumb.font-md(separator-class='el-icon-arrow-right')
        //- el-breadcrumb-item.font-sm(:to="{ path: '/' }") 커뮤니티
        //- el-breadcrumb-item.font-sm 게임
        //- el-breadcrumb-item.font-sm 리그오브레전드
        el-breadcrumb-item.font-sm(:to="{ path: '/' }") 홈
        el-breadcrumb-item.font-sm(v-for="(item,i) in breadcrumb", :key="i") {{item}}
</template>

<style scoped>
.breadcrumb {
  height: 30px;
}
</style>


<script>
import { fetchCategoryList } from "@/api/category.js";
import { fetchBoardList } from "@/api/board.js";
export default {
  data: () => {
    return {
      upHere: false,
      category: "",
      submenu: [
        { menu: [] },
        { menu: [] },
        { menu: [] },
        { menu: [] },
        { menu: [] }
      ],
      breadcrumb: []
    };
  },
  computed: {
    type: function() {
      return this.$route.params.type;
    }
  },
  async mounted() {
    this.category = await fetchCategoryList();
    let board = await fetchBoardList();
    board.forEach(element => {
      if (!this.submenu[element.category_id - 1].hasOwnProperty("menu"))
        this.submenu[element.category_id - 1].menu = [];
      this.submenu[element.category_id - 1].menu.push({ name: element.name });
    });
    this.update();
  },
  methods: {
    update() {
      for (var i = 0; i < this.submenu.length; i++) {
        let menu = this.submenu[i].menu;
        for (const m of menu) {
          if (this.type === m.name) {
            this.breadcrumb = []
            this.breadcrumb.push(this.category[i].name);
            this.breadcrumb.push(m.name);
          }
        }
      }
    }
  },
  watch:{
      type:function(){
          this.update()
      }
  }
};
</script>
