<template lang="pug">
    .comment-write.nbg
        el-input.content(type='textarea', :autosize='{ minRows: 4}', placeholder='댓글을 입력해주세요', v-model='data.content')
        el-input.name(placeholder='닉네임', v-model='data.name' size="mini")
        el-input.password(placeholder='비밀번호', v-model='data.password' size="mini" type="password")
        div(align="right")
            el-button(type="success" size="mini" @click="submit()") 등록

</template>

<script>
import { createComment } from "@/api/comment";
export default {
    props:['post_id','comment_id'],
    data(){
        return{
            data:{
                comment_id:null,
                post_id:1,
                content:"",
                name:"",
                password:""
            }
        }
    },
    methods:{
        submit:async function(){
            this.data.post_id = this.post_id
            this.data.comment_id = this.comment_id
            await createComment(this.data)
            this.$parent.update()
        }
    }
}
</script>

<style scoped>
.comment-write{
    margin-top:15px;
    background-color: rgb(245, 245, 245);
    border-top:1px solid rgb(223, 223, 223);
    padding:15px;
}
.content{
    margin-bottom:5px;
}
.name, .password{
    max-width: 150px;
}
.password{
    margin-left:5px
}
</style>
