<template lang="pug">
    .comment
        div 댓글
        comment-item(v-for="(comment,index) in comment_list" :data="comment" :key="index" :post_id="post_id")
        comment-write(:post_id="post_id")

</template>

<script>
import { fetchCommentParentList } from "@/api/comment";
import CommentItem from "./CommentItem";
import CommentWrite from "./CommentWrite";
export default {
  props: ["post_id"],
  data() {
    return {
      comment_list: []
    };
  },
  components: {
    CommentItem,
    CommentWrite
  },
  async created() {
    this.update();
  },
  methods: {
    update: async function() {
      this.comment_list = await fetchCommentParentList(this.post_id);
    }
  },
  watch: {
    post_id: function() {
      this.update();
    }
  }
};
</script>
