<template lang="pug">
    .CommentItem
        .title
            span.name {{data.name}}
        .content.font-sm
            div {{data.content}}
        span.date {{date}}
        span(size="mini" @click="reply=!reply").reply 답글
        comment-write.child(v-if="reply" :post_id="post_id" :comment_id="data.id")
        comment-item.child(v-for="(comment,index) in child" :data="comment" :key="index" :post_id="post_id")
        //- span 답글
        //- span 수정
</template>

<script>
import CommentItem from "./CommentItem";
import CommentWrite from "./CommentWrite";
import { fetchCommentChildList } from "@/api/comment";
import { dateFormat, timeFormat } from "@/api/common";
export default {
  name: "comment-item",
  props: ["data", "post_id"],
  data() {
    return {
      child: [],
      reply: false
    };
  },
  components: {
    CommentItem,
    CommentWrite
  },
  computed: {
    date: function() {
      let date = this.data.date;
      return `${dateFormat(date)} ${timeFormat(date)}`;
    }
  },
  methods: {
    update: async function() {
    //   this.$parent.update();
      this.child = await fetchCommentChildList(this.data.id);
      this.reply = false;
    }
  },
  async mounted() {
    this.child = await fetchCommentChildList(this.data.id);
  },
  watch: {
    post_id: function() {
      this.update();
    }
  }
};
</script>


<style scoped>
.CommentItem {
  padding: 10px 0;
  color: rgb(92, 92, 92);
}

.title {
  color: black;
}

.date {
  font-size: 10px;
  color: rgb(172, 172, 172);
  /* text-align: right; */
}

.content {
  padding: 7px 0px;
}
.child {
  margin-left: 30px;
}
.reply{
    font-size:12px;
    width:10px;
    height: 10px;
    text-align: center;
    cursor: pointer;
    padding-left:5px;
}
</style>

