<template lang="pug">
    el-card(:body-style="{ padding: '0px' }")
      img.image(:src="src")
      div(style="padding: 14px;")
        span.font-sm(@click="$router.push(post)") {{title}}
        .bottom.clearfix
          span.font-xs {{author}}
          time.time.font-2xs(style="float:right") {{date}}
</template>

<script>
export default {
  props:["src","title","author","date","post"]
}
</script>

<style scoped>
img{
    width:100%;
}
</style>

