<template lang="pug">
    .ListItem(@click="$router.push('/post/'+data.id)")
        div.thumbnail
            img(:src="data.thumbnail" )
        .title(style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;")
            div {{data.title}}
        .category
            span {{data.category}}
            span.date {{date}}  
        .content   
            div(v-html="data.content")
</template>

<script>
import { dateFormat, timeFormat } from "@/api/common";
export default {
  props: ["data"],
  created() {
    var reg = /<.*?>/g;
    this.data.content = this.data.content.replace(reg, " ");
  },
  watch: {
    data: function() {
      var reg = /<.*?>/g;
      this.data.content = this.data.content.replace(reg, " ");
    }
  },

  computed: {
    date: function() {
      let date = this.data.date;
      return `${dateFormat(date)} ${timeFormat(date)}`;
    }
  }
};
</script>


<style scoped>
.ListItem {
  position: relative;
  /* width:500px; */
  height: 200px;
  color: rgb(95, 95, 95);
}
.ListItem:hover {
  cursor: pointer;
  /* color:rgb(148, 148, 148); */
  opacity: 0.7;
}
.thumbnail,
.title,
.content,
.category,
.bottom {
  display: inline-block;
  position: absolute;
}

.thumbnail:hover {
  opacity: 0.7;
}

.title {
  top: 2px;
  left: 230px;
  font-size: 26px;
  font-weight: 500;
  color: black;
  max-width: 500px;
}
.category {
  top: 40px;
  left: 230px;
  font-size: 15px;
  color: #8ed1b8;
}
.content {
  top: 80px;
  left: 230px;
  font-size: 18px;
}
.bottom {
  bottom: 10px;
  right: 5px;
  font-size: 13px;
  font-weight: 400;
}
.date {
  font-size: 13px;
  color: #9c9c9c;
  margin-left: 4px;
}

/* 모바일 */
.xs .ListItem{
  height: 150px;
}
.xs .thumbnail img {
  width:150px;
}
.xs .title, .xs .content, .xs .category {
  left: 160px;
}

.xs .title{
  font-size:20px;
}
.xs .content{
  top:45px;
  font-size:15px;
}
.xs .category{
  top:28px;
  font-size:13px;
}
.xs .date{
  font-size: 13px;
}

</style>

