<template lang="pug">
    .List
        div(v-for="(post,index) in list")
            list-item.list-item(:data="post")
            hr.s1
        //- list-item.list-item
        //- hr.s1
        //- list-item.list-item
        //- hr.s1
        //- list-item.list-item
        //- hr.s1
        //- list-item.list-item
        //- hr.s1
        //- list-item.list-item
        //- hr.s1
        div(align="center")
            el-pagination(layout="prev, pager, next" :total="50")
</template>

<script>
import { fetchPostList } from "@/api/post";
import ListItem from "./ListItem";
export default {
    data(){
        return{
            list:[]
        }
    },
    components:{
        ListItem
    },
    created(){
        this.update()
    },
    methods:{
        update:async function(){
            this.list = await fetchPostList(this.$route.meta.title)
        }
    },
    watch:{
        $route:function(){
            this.update()
        }
    }
}
</script>

<style scoped>

</style>

