<template lang="pug">
    .post-write
        el-select(v-model='post.category', placeholder='카테고리').category
            el-option(v-for='item in options', :key='item.value', :label='item.label', :value='item.value')
        el-input(v-model="post.title" placeholder="제목").title
        editor(:content.sync="post.content").content
        el-select(v-model="relation" multiple="" filterable  placeholder="관련 글" style="width:100%").relation
          el-option(v-for="item in relation_options" :key="item.value" :label="item.id +'_'+ item.title" :value="item.id")
        el-select(v-model="tag" multiple="" filterable  placeholder="태그" allow-create style="width:100%").tag
          el-option(v-for="item in tag_options" :key="item.tag" :label="item.tag" :value="item.tag" )
        div(align="right").submit
            el-button(@click="submit" type="success") 완료
</template>


<script>
import { createPost,createRelation,createTag,fetchPostList,fetchTag } from "@/api/post";
import Editor from "./Editor";
export default {
  data() {
    return {
      options: [
        {
          value: "it",
          label: "IT 정보"
        },
        {
          value: "소프트웨어",
          label: "소프트웨어"
        },
        {
          value: "알고리즘",
          label: "알고리즘"
        },
        {
          value: "C C++",
          label: "C C++"
        },
        {
          value: "NodeJS",
          label: "NodeJS"
        },
        {
          value: "데이터베이스",
          label: "데이터베이스"
        },
        {
          value: "일본어",
          label: "일본어"
        }
      ],
      post: {
        category: "",
        title: "",
        content: ""
      },
      relation:[],
      relation_options:[],
      tag:[],
      tag_options:[]
    };
  },
  components: {
    Editor
  },
  async created() {
    // console.log(this.$route.params.category)
    this.post.category = this.$route.params.category;
    this.relation_options = await fetchPostList(this.post.category)
    this.tag_options = await fetchTag()
    console.log(this.relation_options)
  },
  methods: {
    submit: async function() {
      // console.log(this.a)
      let post = await createPost(this.post);
      this.$router.push('/post/'+post.insertId)
      for (const item of this.relation) {
        await createRelation({post_id:post.insertId,relation_post_id:item})
      }
      for (const item of this.tag) {
        await createTag({post_id:post.insertId,tag:item})
      }
    }
  }
};
</script>

<style scoped>
.post-write {
  padding: 40px 0px;
  max-width: 900px;
  margin: 0 auto;
}
.title,
.category,
.content,
.relation,
.tag {
  margin-bottom: 10px;
}
</style>
