<template lang="pug">
    .post(v-loading.fullscreen.lock="fullscreenLoading")
        .title(align="center")
            div.category {{post.category}}
            span {{post.title}}
            div.date(:align="$store.state.size == 1 ? 'center':'right' ") 제리 · {{post.date}}
        hr.s1
        .content(v-html="post.content")
        relation(:post_id="post_id")
        another(:post_id="post_id")
        hr.s1
        comment(:post_id="post_id")
</template>

<script>
import { dateFormat } from "@/api/common";
import { fetchPost } from "@/api/post";
import Another from "@/components/Another";
import Relation from "@/components/Relation";
import Comment from "@/components/Comment";
export default {
  name: "post",
  data() {
    return {
      post: {},
      fullscreenLoading: false
    };
  },
  components: {
    Another,
    Comment,
    Relation
  },
  async created() {
    this.update();
  },
  computed: {
    post_id: function() {
      return this.$route.params.id;
    }
  },
  methods: {
    update: async function() {
      this.fullscreenLoading = true;
      window.scrollTo(0, 0);
      this.post = await fetchPost(this.post_id);
      this.post.date = dateFormat(this.post.date);
      this.fullscreenLoading = false;
    }
  },
  watch: {
    post_id: function() {
      this.update();
    }
  }
};
</script>


<style scoped>
.post {
  padding: 40px 0px;
  max-width: 900px;
  margin: 0 auto;
}
.title {
  font-size: 50px;
  max-width: 1000px;
  margin: 0 auto;
}
.title .category {
  font-size: 17px;
}
.title .date {
  font-size: 14px;
  color: rgb(148, 148, 148);
}
.content {
  font-size: 18px;
  max-width: 1000px;
  min-height: 100px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  padding:10px;
}
.s1 {
  max-width: 900px;
  margin: 30px auto;
  margin-top: 10px;
}
.relation {
  margin: 20px auto;
  max-width: 100%;
}
.comment {
  margin: 0px auto;
}
.category {
  top: 40px;
  left: 230px;
  font-size: 15px;
  color: #8ed1b8;
}

/* 모바일 */
.xs .title {
  font-size: 30px;
}
.xs .title .category {
  font-size: 15px;
}
.xs .post{
  padding: 10px;
}
</style>

<style>
.post .content img {
  max-width: 800px;
  max-width: 100%;
}
</style>
