<template lang="pug">
    .relation
        .title 현재 게시물과 관련 글
        hr.s1
        .content
            div(style="position:relative" v-for="(item,index) in relation_list" @click="$router.push('/post/'+item.relation_post_id)").post {{item.title}} 
                div(style="position:absolute;right:0px;top:0px;") {{item.date}}
</template>

<script>
import { fetchRelationList } from "@/api/post";
import { dateFormat } from "@/api/common";
export default {
  props: ["post_id"],
  data() {
    return {
      relation_list: []
    };
  },
  async created() {
    this.update()
  },
  methods: {
    update: async function() {
      this.relation_list = await fetchRelationList({post_id:this.post_id});
      for (var item of this.relation_list) {
          item.date = dateFormat(item.date)
      }
      console.log(this.relation_list)
    }
  },
  watch: {
    post_id: function() {
      this.update();
    }
  }
};
</script>


<style scoped>
.relation{
    /* border:2px solid #d3d3d3; */
    /* padding:15px 20px; */
    padding-bottom:10px;
}
.title{
    font-weight: 200;
    font-size:16px;
    color:rgb(104, 104, 104);

}
.post{
    cursor: pointer;
}
.post:hover{
    font-weight: 700;
    text-decoration: underline;
}
.content{
    font-weight: 100;
    font-size:13px;
    color:#747474
}
</style>