<template lang="pug">
    .home
      .intro
        carousel
      .main
        list
</template>


<script>
import Carousel from "./components/Carousel";
import List from "@/components/List";
export default {
  components: {
    List,
    Carousel
  }
};
</script>


<style scoped>

/* .background {
  width: 2500px;
} */
.main {
  max-width: 1200px;
  margin: 0px auto;
  padding:30px 0px;
}
</style>