<template lang="pug">
    .japan
        sub-title1
        div(align="right")
            el-button(@click="$router.push($route.meta.title+'/write')") 글쓰기
        list
</template>

<script>
import List from "@/components/List";
import SubTitle1 from "@/components/SubTitle1";
export default {
    components:{
        List,
        SubTitle1
    }
}
</script>

<style scoped>
.japan {
  max-width: 1200px;
  margin: 0px auto;
}
</style>
