<template lang="pug">
    .write
        post-write(:category="'일본어'")
</template>

<script>
import PostWrite from "@/components/PostWrite";
export default {
    components:{
        PostWrite
    }   
}
</script>

