<template lang="pug">
  .app-wrapper
    mobile-header.sticky(v-if="$store.state.size<3")
    left-side
    my-header.sticky(v-if="$store.state.size>=3")
    .content
        transition(name='fade', mode='out-in')
          router-view(name="Main")
    my-footer
</template>

<script>
import Header from "./components/Header";
import MobileHeader from "./components/MobileHeader";
import LeftSide from "./components/LeftSide";
import Footer from "./components/Footer";
export default {
  name: "Layout",
  data() {
    return {
      scrolled: false
    };
  },
  components:{
    MyHeader:Header,
    MyFooter:Footer,
    MobileHeader,
    LeftSide
  }
};
</script>

<style scoped>
.app-wrapper {
  height: 100%;
}

.sticky {
  position: sticky !important;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

.sticky + .content {
  padding-top: 0px;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

</style>

